<div class="row">
  <div class="span2"><p><%= "%02d" % post.created_time.day %> / <%= "%02d" % post.created_time.month %> / <%= "%02d" % post.created_time.year %></p></div>
  <div class="span10">
    <% unless post.message.nil? or post.message.chomp.empty? then %>
    <p>
      <% post.message.chomp.each_line do |line| %>
        <%= line %><br/>
      <% end %>
    </p>
    <% end %>

    <% if post.type == "photo" and !post.graph_object_id.nil? then
    %>
    <p>
      <img src="<%= fb_image_url_for post.graph_object_id %>">
    </p>
    <% end %>

    <% if post.type == "link" and !post.link.nil? then %>
    <p>
      <a href="<%= post.link %>"><%= post.link %></a>
    </p>
    <% end %>

    <% if post.type == "video" and !post.source.nil? then %>
    <div class="video-container">
      <object width="100%">
        <param name="movie" value="<%= clean_video_url post.source %>">
        <param name="allowFullScreen" value="true">
        <param name="allowscriptaccess" value="always">
        <embed src="<%= clean_video_url post.source %>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="100%">
      </object>      
    </div>

    <% end %>
  </div>
</div>
<!--
<div class="row">
  <div class="span10 offset2"><img src="http://www.brocoli.org/media/img/news/rainier-lericolais-rosa-lu.jpg"></div>
</div>
-->